 /* Normal Navbar */

.header {
  position: sticky;
  width: auto;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(55, 55, 55);
  color: white;
  padding: 10px 20px;
  transition: background 0.5s ease, height 0.5s ease;
}

.logo-name {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.name {
  font-size: x-large;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

.nav-buttons a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin-left: 10px;
  transition: 0.3s border-bottom;
  font-size: large;
  border-bottom: 4px solid transparent;
}

.site-nav {
  position: relative;
  margin-top: 10px;
  font-weight: bold;
}

.site-nav:after {
  content: "";
  display: block;
  margin-top: 5px;
  margin-left: -15%;
  height: 4px;
  width: 0;
  background: transparent;
  transition: width 0.3s ease, background-color 0.2s ease;
}

.site-nav:hover:after {
  width: 130%;
  background: white;
}

/* Navbar when scrolling */

.header-modified {
    width: auto;
    position: sticky;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.05), 
      rgba(0, 0, 0, 0));
  color: white;
  padding: 10px 20px;
}