 /* Normal Navbar */

.header {
  position: sticky;
  width: auto;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0A014F;
  color: white;
  padding: 10px 20px;
  transition: background 0.5s ease, height 0.5s ease;
}

.logo-name {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.name {
  font-size: x-large;
}

.nav-buttons {
  display: flex;
}

.nav-buttons a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin-left: 10px;
  transition: 0.3s border-bottom;
  font-size: large;
  border-bottom: 4px solid transparent;
}

.site-nav {
  position: relative;
  margin-top: 10px;
  font-weight: bold;
}

.site-nav:after {
  content: "";
  display: block;
  margin-top: 5px;
  margin-left: -15%;
  height: 4px;
  width: 0;
  background: transparent;
  transition: width 0.3s ease, background-color 0.2s ease;
}

.site-nav:hover:after {
  width: 130%;
  background: white;
}

#booking-button {
color: white;
  border-bottom: 0px;
  background-color: #ef730d;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  padding: 10px 15px;
}

/* Navbar when scrolling */

.header-modified {
    width: auto;
    position: sticky;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.05), 
      rgba(0, 0, 0, 0));
  color: white;
  padding: 10px 20px;
}

/* Mobile navigation */

.header-mobile  {
    position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #0A014F;
	color: white;
	padding: 10px 20px;
	transition: background 0.5s ease, height 0.5s ease;
	box-sizing: border-box;
	height: 80px;
	border-bottom: 2px solid white;
}

.burger-menu {
	position: relative;
	z-index: 9999;
	background-color: #0A014F;
	transform: translateX(0);
	float: left;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
	overflow: hidden;
	display: none;
}

.burger-menu.show {
	display: flex;
}

.burger-menu.hide {
	display: none;
}

.burger-button {
	border: none;
	color: whitesmoke;
	font-weight: 600;
	float: right;
	display: flex;
	font-size: 30px;
	margin-right: 40px;
}

.burger-button:hover {
	cursor: pointer;
}

.mobile-buttons {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 100%;
}

.mobile-nav {
	text-decoration: none;
	color: white;
	font-size: x-large;
	font-weight: bold;
	padding: 20px 15px;
	border-bottom: 2px solid white;
	transition: all 0.3s ease;
}

.mobile-nav:hover {
	color: orange;
}


.logo-name-mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.header,
	.header-modified,
	.logo-name {
		display: none;
	}

	.header-mobile{
		display: flex;
	}
}

@media only screen and (min-width: 769px) {
	.header-mobile,
	.burger-menu.show {
		display: none;
	}
}