.backgroundContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

.AvailabilityBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; 
  }

.AvailabilityContainer {
    display: grid;
    height: 100%;
    width: 100%;
}

#mapContainer {
    height: 60vh;
    width: 100vw;
}

#availabilityContainer {
    background-color: whitesmoke;
    height: 30vh;
}

#availabilityHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

#AvailabilityInfo {
    background-color: rgb(52, 52, 52);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Availability-items {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 30vh;
}
  
.Availability-item {
    margin-bottom: 20px;
    padding-right: 10vw;
    justify-content: center;
    align-items: center;
}
  
.Availability-item h3 {
    font-size: 1.2rem;
    color: whitesmoke;
    margin-bottom: 5px;
}

.Availability-item p {
    font-size: 1rem;
    color: rgb(174, 174, 174);
}

.Availability-item a {
    color: #007bff;
    text-decoration: none;
}

.Availability-item a:hover {
    text-decoration: underline; 
}
  