/* Main */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  margin-top: 7%;
}

h2 {
  font-size: 2.7em;
  line-height: 1.1;
  text-align: center;
  margin-top: 2%;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.card {
  width: 250px;
  height: 380px;
  position: relative;
  transform-style: preserve-3d; 
  transition: transform 0s;
}

.card:hover {
  transform: rotateY(180deg); 
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-front {
  background: #ffffff;
  color: #333;
}

.card-back {
  background: #333;
  color: #ffffff;
  transform: rotateY(180deg);
}